{% extends 'base.html' %}

{% block scripts %}

{% endblock %}


{% block title %} Quiz3-Q2   {% endblock %}

{% block content %}
    <h1>Quiz3-Q 12</h1>

    <form id="q2" action="/q2" method="POST">
        <table>
            <tr>
                <td>
                    <label style="color: red;">{{ errorMessage }}</label>

                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    Year in range :  
                </td>
                <td>
                  
                        <table>
                            <tr>
                                <td>
                                    From :  <input type="number" name="yearFrom" id="yearFrom">
                                </td>
                                <td>
                                    To :  <input type="number" name="yearTo" id="yearTo">
                                </td>
                            </tr>
                        </table>
                   
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width: 100px;">
                    Total Votes in range :   
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                From :  <input type="number" name="tVoteFrom" id="tVoteFrom">
                            </td>
                            <td>
                                To :  <input type="number" name="tVoteTo" id="tVoteTo">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td colspan="2">
                    <input type="submit" name="search" id="search" value="Submit">
                </td>
            </tr>
        </table>  
{% endblock %}
