{% extends 'base.html' %}

{% block scripts %}

<script type="text/javascript">
    function ShowHideYEARDiv() {
        var ddlSelect = document.getElementById("yearSelect");
        var dvRange = document.getElementById("yearRangeDiv");
        var dvValue = document.getElementById("yearValueDiv");
        dvRange.style.display = ddlMag.value == "between" ? "block" : "none";
        dvValue.style.display = ddlMag.value == "between" ? "none" : "block";
    }
</script>

{% endblock %}


{% block title %}  Search criteria   {% endblock %}

{% block content %}
    <h1> Select search criteria </h1>

    <form id="search" action="/search" method="POST">
        <table>
            <tr> 
                <td>
                    <label style="color: red;">{{ errorMessage }}</label>

                </td>
            </tr>
        </table>

        
        <table>
            <tr>
                <td style="width: 100px;">
                    Year :  
                </td>
                <td>
                    <select name="yearSelect" id="yearSelect" style="width: 150px;" onchange = "ShowHideYEARDiv()" data-required_elem_id="year"  data-required_if_value ="between">
                        <option value="=">=</option>
                        <option value=">">></option>
                        <option value="<"><</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="between">is in range</option>
                    </select>
                </td>
                <td>
                    <div id="yearValueDiv" style="display: block">
                        <input type="number"  name="year" id="year">
                    </div>
                </td>
                <td>
                    <div id="yearRangeDiv" style="display: none">
                        <table>
                            <tr>
                                <td>
                                    From :  <input type="number" name="yearFrom" id="yearFrom">
                                </td>
                                <td>
                                    To :  <input type="number" name="yearTo" id="yearTo">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 100px;">
                    State :  
                </td>
                <td>
                   <input type="text"  name="state" id="state">
                </td>
            </tr>
            <tr>
                <label style="color: lightgray;">* Add comma sepearetd multiple values e.g. - " AL,TX,AK"</label>
            </tr>
        </table>


        <table>
            <tr>
                <td style="width: 100px;">
                    Candidate Name :  
                </td>
                <td>
                   <input type="text"  name="candidate" id="candidate">
                </td>
            </tr>
        </table>


        <table>
            <tr>
                <td colspan="2">
                    <input type="submit" name="search" id="search" value="Submit">
                </td>
            </tr>
        </table>        
        
        
        
        <!-- <table>
            <tr>
                <td>
                    Enter ----- (Year) : 
                </td>
                <td>
                    <input type="number" name="col1" id="col1">
                </td>
            </tr>
            <tr>
                <td>
                    Enter ----- (State) : 
                </td>
                <td>
                    <input type="text" name="col2" id="col2">
                </td>
            </tr>
            <tr>
                <td style="width: 180px;">
                    Select Chart Type  : 
                 </td>
                 <td style="width: 250px;">
                     <select name="chartSelect" id="chartSelect" style="width: 200px;">
                        <option value="pi">Pi-Chart</option>
                         <!--<option value="pi">Pi-Chart</option>
                         <option value="line">Line Chart</option>
                         <option value="hBar">Horizontal Bar Chart</option>
                         <option value="vBar">Vertical Bar  Chart</option>
                         <option value="point">Scattered (Point) Chart</option> -->
                     </select>
                 </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="search" id="search" value="Submit">
                </td>
            </tr>
        </table> -->
    </form>
    
{% endblock %}
